* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	position: relative;
	min-height: 100vh;
	font-size: 16px;
}

#__next {
	min-height: 100vh;
}

.main {
	position: relative;
	margin-top: 72px;
	flex: 1 1 auto;
}

.root-layout {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

ul li {
	list-style: none;
}

[class*='__container'] {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 15px;
}

.auth-form {
	width: 500px;
}

@media (max-width: 768px) {
	.auth-form {
		width: 450px;
	}
}

@media (max-width: 480px) {
	.auth-form {
		width: 380px;
	}
}

@media (max-width: 400px) {
	.auth-form {
		width: 300px;
	}
}
