.userTable {
	padding: 15px 0;
}

.row {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	transition: all 0.3s ease;
	cursor: pointer;
}

.row:hover {
	background-color: teal;
}

@media (min-width: 320px) {
	.tableContainer {
		padding: 0;
	}
}

@media (max-width: 768px) {
	.cell {
		padding: 16px 10px;
	}
}

@media (max-width: 480px) {
	.cell {
		padding: 16px 10px;
	}
}
