.userCollections {
	position: relative;
	padding: 15px 0;
}

.title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 5px;
}

@media (max-width: 480px) {
	.userCollections {
		padding: 10px 0;
	}
}
