.list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 15px;
}

@media (max-width: 992px) {
	.list {
		gap: 15px;
	}
}

@media (max-width: 480px) {
	.list {
		gap: 20px;
	}
}
