.tagForm {
	display: flex;
	gap: 10px;
}

.inputSelect {
	position: relative;
	min-width: 75%;
}

.suggestionsList {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	z-index: 1;
}

.listItem {
	padding: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}

@media (max-width: 320px) {
	.tagForm {
		flex-direction: column;
	}
}
