.item {
	padding: 30px 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 15px;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	cursor: pointer;
}

.link {
	width: 100%;
}

.image {
	position: relative;
	flex: 0 0 100px;
	height: 100px;
}

.title {
	font-size: 28px;
}

@media (max-width: 768px) {
	.title {
		font-size: 24px;
	}
}

@media (max-width: 480px) {
	.item {
		padding: 20px 15px;
	}
}
